#left-ear {
  transition: all .5s linear;
}

#right-ear {
  transition: all .5s linear;
}

.bear:hover #left-ear {
  transform: translateY(-10px);
}

.bear:hover #right-ear {
  transform: translateY(-10px);
}

@keyframes shift {

  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }
}

#left-eye {
  animation: shift 3s linear alternate infinite;
}

#right-eye {
  animation: shift 3s linear alternate infinite;
}
